[project]
	description = Cisco OpenStack Edition module
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Mark T. Voelker (markvoelker)
[access "refs/for/refs/*"]
	read = group user/Mark T. Voelker (markvoelker)
	push = group user/Mark T. Voelker (markvoelker)
	label-Code-Review = -2..+2 group user/Mark T. Voelker (markvoelker)
	label-Verified = -1..+1 group user/Mark T. Voelker (markvoelker)
	rebase = group user/Mark T. Voelker (markvoelker)
	removeReviewer = group user/Mark T. Voelker (markvoelker)
	submit = group user/Mark T. Voelker (markvoelker)
[access "refs/heads/*"]
	read = group user/Mark T. Voelker (markvoelker)
	create = group user/Mark T. Voelker (markvoelker)
	push = +force group user/Mark T. Voelker (markvoelker)
	pushMerge = group user/Mark T. Voelker (markvoelker)
[access "refs/tags/*"]
	push = +force group user/Mark T. Voelker (markvoelker)
	pushTag = group user/Mark T. Voelker (markvoelker)
	pushSignedTag = group user/Mark T. Voelker (markvoelker)
